#img1{
    width: 135px;
    margin-left: 55px;
}
#button1{
    color: white;
    margin-left: 900px;
    width: 90px;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 13px;
    margin-bottom: -70px;
    
}
#button2{
    color: white;
    margin-left: 1200px;
    margin: 5px;
    width: 100px;
    height: 35px;
    background-color: red;
    font-size: 13px;
    border: 1px solid red;
}
#parent{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 730px;
    background-blend-mode: darken;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#para1{
    margin: 80px;
    font-size: 53px;
    margin-left: 440px;
    font-weight: 900;
    margin-top: 150px;
    color: aliceblue;
}
#text2{
    font-size: 30px;
    color: aliceblue;
    margin-left: 490px;
    margin-top: -70px;
}
#text3{
    font-size: 21px;
    color: aliceblue;
    margin-left: 400px;
}
#mail1{
    width: 500px;
    height: 55px;
    margin-left: 380px;
    
}
#button3{
    width: 130px;
    height: 60px;
    background-color: red;
    font-size: 17px;
    font-weight: 500;
    color: aliceblue;
    margin-left: -5px;
    margin-bottom: 150px;
    margin-top: 5px;
    border: 1px solid red;
}
#hr1{
    height: 10px;
    background-color: grey;

    
    
}
/* div2*/
#container{
background-image: url(2131.webp);
margin-top: -63px;
width: 1360px;
margin-left: -10px;
background-size: 1360px 700px;
}
#text4{
    color: white;
    font-size: 60px;
    margin-left: 130px;
    
    
}
#text5{
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-left: 130px;
    
}
#text6{
    
    font-size: 60px;
}
#text7{
    font-size: 17px;
}
#img2{
    width: 500px;
    margin-left: 750px;
    margin-top: -370px;
}
#hr2{
    height: 10px;
    background-color: grey;
}
